body {
    background-image: url('../Imágenes/ciudad/gestoria.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
     min-height: 100vh; /* asegúrate de que ocupa toda la altura visible */
    font-family: Arial, sans-serif;
}
nav a {
    color: #333;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.3s ease; /* Transición para un efecto suave en color, tamaño, fondo y sombra */
}

/* Efecto hover del menú */
nav a:hover {
    color: #333;
    background-color: rgba(224, 224, 224, 0.8); /* Fondo gris con transparencia */
    transform: translateY(-8px); /* Mover el elemento 3px hacia arriba */
    padding: 5px 15px; /* Espacio alrededor del texto */
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3); /* Sombra para efecto de elevación */
}

.services {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}
.services {
    padding: 50px 20px;
    text-align: center;
}

.services h2 {
    font-size: 72px;
    color: rgb(214, 221, 233);
    margin-bottom: 20px;
    text-shadow: 4px 4px 8px rgba(10, 20, 20, 20.4); /* Sombra para los títulos h2 y h3 */
}

.services h3 p{
    font-size: 24px;
    color: rgb(248, 242, 242);
    margin-bottom: 20px;
}

.services ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: rgb(51, 94, 158);
}

.services ul li {
    font-size: 20px;
    margin: 10px;
    flex: 0 0 calc(25% - 20px); /* Tres columnas con margen */
    text-align: center;
}

.services ul li {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services ul li img {
    width: 350px; /* Tamaño de las imágenes */
    height: 150px;
    transition: transform 0.3s ease; /* Suaviza la transición */
}

.services ul li img:hover {
    transform: scale(1.2); /* Agranda la imagen a 120% de su tamaño original */
}

.services ul li p { /* Fondos de letras s */
    margin-top: 10px;
    color: rgb(22, 2, 2);
    font-size: 48px;
}

.services ul.tramites li {
    flex: 0 0 calc(25% - 20px); /* Dos columnas con margen */
    display: flex;
    align-items: center;
}

.services ul.tramites li i {
    margin-right: 0px;
    font-size: 75px; /* Tamaño del ícono */
}

.services ul.tramites p {
    color: rgb(99, 142, 47);
}

.service-block {
    margin-bottom: 50px; /* Espacio entre secciones */
}


